.App {
  background-image: url("background.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.postamat-submit {
  margin-top: 40%;
  width: 300px;
  height: 100px;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 25px;
  background-color: #0ed04c;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 0 0 15px #0ed04c;
  cursor: pointer;
}
